.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.header-image {
    width: auto;
    transition: max-width 1s, min-width 1s;
}
.header-image-expanded {
    min-width: 400px;
    max-width: 250px;
}
.header-image-shrink {
    max-width: 170px;
    min-width: 40px;
}
.header-text {
    font-family: 'Hachi Maru Pop', cursive;
    margin: 5px 0 15px 0;
    transition: font-size 1s;
}

.header-text-expanded {
    font-size: 40px;
}
.header-text-shrink {
    font-size: 12px;
}
